body {
  margin: 0;
}

* {
  animation: none !important;
  transition: none !important;
  -moz-animation: none !important;
  -moz-transition: none !important;
  -webkit-animation: none !important;
  -webkit-transition: none !important;
  -o-animation: none !important;
  -o-transition: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-tile {
   opacity: 100 !important;
   visibility: visible !important;
}

.leaflet-tile-container {
   opacity: 100 !important;
   visibility: visible !important;
}

.param-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

/* This is for the entire application */
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* This is for the main map component */
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust the height based on the height of the control panel */
  z-index: 1;
}

/* This is for the control panel */
.control-panel {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 70%;
  height: 100px;
  margin-left: auto;
  margin-right: 25%;
  padding: 10px;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}

.control-panel .button {
  background-color: #008d9a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px 24px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.control-panel .button:hover {
  background-color: #00b4cc;
  color: black;
}

.control-panel input[type=range] {
  margin: 0 10px;
  width: 100%;
}

/* This is for the cached button and information */
.cached-info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height:120px;
  padding: 10px;
  border-radius: 5px;
}

/* This is for the performance panel */
.performance-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
